<body>
<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <form>
            <div class="row no-margin">
              <div class="col-md-4">
                <div class="form-header">
                  <h2>Book Now</h2>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row no-margin">
                  <div class="col-md-5">
                    <div class="form-group">
                      <span class="form-label">Check In</span>
                      <input class="form-control" type="date">
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <span class="form-label">Check out</span>
                      <input class="form-control" type="date">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-btn">
                  <button class="submit-btn">Check availability</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
