<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">ADMIN</span>
  </a>

  <div class="sidebar">
    <br>
    <a routerLink="/admin/orders" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      Order chờ xử lý
    </a>
    <hr>
    <a routerLink="/admin/orders/history" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      Lịch sử Order
    </a>
    <hr>
    <a routerLink="/admin/income" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      Quản lý thu nhập
    </a>
    <hr>
    <a routerLink="/admin/users" class="nav-link" *ngIf="currentUser.roles.length == 2">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      Quản lý User
    </a>
  </div>
</aside>

