<h3>Thêm homestay mới</h3>
<div class="modal fade" id="create-house">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Đặt homstay</b></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="houseForm" (ngSubmit)="createHouse()" class="mb-3">
        <div>
          <label for="name"  class="form-label">Tên:</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="tên" value="{{house.name}}">
        </div>
        <div>
          <label for="img"  class="form-label">Ảnh:</label>
          <input class="form-control" type="file" id="img" formControlName="img" >
        </div>
        <div>
          <label for="area" class="form-label">Diện tích:</label>
          <input class="form-control" type="text" id="area" formControlName="area">
        </div>
        <div>
          <label for="location" class="form-label">Địa Chỉ:</label>
          <input  class="form-control" type="text" id="location" placeholder="địa chỉ">
        </div>
        <div>
          <label for="type" class="form-label">Loại phòng:</label>
          <select formControlName="type">
            <option disabled [ngValue]="undefined">Chọn loại phòng</option>
            <option id="type" [value]="type.id" *ngFor="let type of types">{{type.name}}</option>
          </select>
        </div>
        <div>
          <label for="bedroom" class="form-label">Số phòng ngủ:</label>
          <input class="form-control" type="number" id="bedroom" formControlName="bedroom" placeholder="số phòng ngủ">
        </div>
        <div>
          <label for="bathroom" class="form-label">Số phòng tắm:</label>
          <input class="form-control" type="number" id="bathroom" formControlName="bathroom" placeholder="số phòng tắm">
        </div>
        <div>
          <label for="price">Giá phòng / đêm:</label>
          <input class="form-control" type="number" id="price" formControlName="price">
        </div>
        <div>
          <label for="description" class="form-label">Mô tả:</label>
          <input class="form-control" type="text" id="description" formControlName="description">
        </div>
        <div>
          <label for="count_rent"  class="form-label">Lượt thuê:</label>
          <input class="form-control" type="number" id="count_rent" formControlName="count_rent">
        </div>
        <div>
          <label for="statusHouse" class="form-label">Trạng thái:</label>
          <select formControlName="statusHouse">
            <option disabled [ngValue]="undefined">Chọn trạng thái</option>
            <option id="statusHouse" [value]="statusHouse.id" *ngFor="let statusHouse of statusHouses">{{statusHouse.name}}</option>
          </select>
        </div>
        <button>Submit</button>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

