<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>

    <form [formGroup]="profileForm" (ngSubmit)="submitEditProfile()">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center" style="height: 300px">
              <img src="http://localhost:8080/image/{{profile.avatar}}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{currentUser.username}}</h4>
                <br>

                <button type="button" class="btn btn-info" (click)="isShowInputavatar()">Đổi ảnh đại diện</button>
                <input class="form-control" id="avatar" placeholder="Nhập tên" type="file"
                       formControlName="avatar" *ngIf="showInputavatar">

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Họ và tên</h6>
              </div>
              <input class="form-control" id="name" placeholder="Nhập tên" type="text"
                     formControlName="name">
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Ngày sinh</h6>
              </div>
              <input class="form-control" id="birthday" placeholder="Nhập ngày sinh" type="text"
                     formControlName="birthday">
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <input class="form-control" id="email" placeholder="Nhập email" type="email"
                     formControlName="email">
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Địa chỉ</h6>
              </div>
              <input class="form-control" id="address" placeholder="Nhập địa chỉ" type="text"
                     formControlName="address">
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Số điện thoại</h6>
              </div>

              <input class="form-control" id="phone" placeholder="Nhập số điện thoai" type="number"
                     formControlName="phone">
            </div>
            <hr>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-info" type="submit">
                  Chỉnh sửa
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>


