
<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
  <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
  <div class="canvas-close">
    <i class="icon_close"></i>
  </div>
  <div class="language-bar">
    <div class="language-option">
      <img src="../../../assets/img/flag.png" alt="">
      <span>English</span>
      <i class="fa fa-angle-down"></i>
      <div class="flag-dropdown">
        <ul>
          <li><a href="#">English</a></li>
          <li><a href="#">Germany</a></li>
          <li><a href="#">China</a></li>
        </ul>
      </div>
    </div>
    <div class="property-btn">
      <a routerLink="/login">Đăng nhập</a>
    </div>
  </div>
  <nav class="main-menu">
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./property.html">Property</a></li>
      <li><a href="./about-us.html">Agets</a></li>
      <li><a href="./blog.html">News</a></li>
      <li><a href="./property-details.html">Pages</a></li>
      <li><a href="./contact.html">Contact</a></li>
    </ul>
  </nav>
  <div class="nav-logo-right">
    <ul>
      <li>
        <i class="icon_phone"></i>
        <div class="info-text">
          <span>Phone:</span>
          <p>(+12) 345 6789</p>
        </div>
      </li>
      <li>
        <i class="icon_map"></i>
        <div class="info-text">
          <span>Address:</span>
          <p>16 Creek Ave, <span>NY</span></p>
        </div>
      </li>
      <li>
        <i class="icon_mail"></i>
        <div class="info-text">
          <span>Email:</span>
          <p>Info.cololib@gmail.com</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header class="header-section">
  <div class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <nav class="main-menu">
            <ul>
              <li class="active"><a routerLink="">Home</a></li>
<!--              <li><a href="./property.html">Property</a></li>-->
<!--              <li><a href="./about-us.html">Agets</a></li>-->
<!--              <li><a href="./blog.html">News</a></li>-->
<!--              <li><a href="./property-details.html">Pages</a></li>-->
              <li><a href="/">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-5">
          <div class="top-right">
            <div class="language-option">
              <img src="../../../assets/img/flag-vn.png" alt="" style="width: 33px" height="22px">
              <span> Việt Nam</span>
            </div>
            <a routerLink="/login" style="color: white">Đăng nhập</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-logo">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo">
            <a href="./index.html"><img src="../../../assets/img/logo-homstay.png" alt=""style="width: 100px" height="80px"></a>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="nav-logo-right">
            <ul>
              <li>
                <i class="icon_phone"></i>
                <div class="info-text">
                  <span>Hot line</span>
                  <p>0989.999.999</p>
                </div>
              </li>
              <li>
                <i class="icon_map"></i>
                <div class="info-text">
                  <span>Văn phòng</span>
                  <p>Số 2 Hùng Vương</p>
                </div>
              </li>
              <li>
                <i class="icon_mail"></i>
                <div class="info-text">
                  <span>Email</span>
                  <p>group5@gmail.com</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
