
<!-- Property Details Section Begin -->
<section class="property-details-section spad">

  <div class="container">
    <div class="card-header" style="background: white">
      <div class="card-tools">
        <a routerLink="/" class="btn btn-info">Đặt ngay</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="pd-details-text">
          <div class="property-more-pic">
            <div class="product-pic-zoom">
              <img class="product-big-img" src="http://localhost:8080/image/{{house.img}}" alt="">
            </div>
            <div class="product-thumbs">
              <div class="product-thumbs-track ps-slider owl-carousel">
                <div class="pt" data-imgbigurl="img/properties/property-details-b2.jpg"><img
                  src="../../../assets/img/properties/thumb-1.jpg" alt=""></div>
                <div class="pt active" data-imgbigurl="img/properties/property-details-b1.jpg"><img
                  src="../../../assets/img/properties/thumb-2.jpg" alt=""></div>
                <div class="pt" data-imgbigurl="img/properties/property-details-b3.jpg"><img
                  src="../../../assets/img/properties/thumb-3.jpg" alt=""></div>
                <div class="pt" data-imgbigurl="img/properties/property-details-b4.jpg"><img
                  src="../../../assets/img/properties/thumb-4.jpg" alt=""></div>
                <div class="pt" data-imgbigurl="img/properties/property-details-b5.jpg"><img
                  src="../../../assets/img/properties/thumb-5.jpg" alt=""></div>
              </div>
            </div>
          </div>
          <div class="pd-details-tab">
            <div class="tab-item">
              <ul class="nav" role="tablist">
                <li>
                  <a class="active" data-toggle="tab" href="#tab-1" role="tab">Thông tin cơ bản</a>
                </li>
                <li>
                  <a data-toggle="tab" href="#tab-2" role="tab">Mô tả</a>
                </li>

              </ul>
            </div>
            <div class="tab-item-content">
              <div class="tab-content">
                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                  <div class="property-more-table">
                    <table class="left-table">
                      <tbody>
                      <tr>
                        <td class="pt-name">Name</td>
                        <td class="p-value">{{house.name}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Location</td>
                        <td class="p-value">{{house.location}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Price</td>
                        <td class="p-value">{{house.price}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Type</td>
                        <td class="p-value">{{house.type.name}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <table class="right-table">
                      <tbody>
                      <tr>
                        <td class="pt-name">Bathrooms</td>
                        <td class="p-value">{{house.bathroom}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">BedRooms</td>
                        <td class="p-value">{{house.bedroom}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Lot area</td>
                        <td class="p-value">{{house.area}} m2</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Agent</td>
                        <td class="p-value">{{house.user.username}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                  <div class="pd-table-desc">
                    <p>{{house.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="property-map">
            <h4>Map</h4>
            <div class="map-inside">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.5524090066037!2d-71.10245469994108!3d42.47980730490846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3748250c43a43%3A0xe1b9879a5e9b6657!2sWinter%20Street%20Public%20Parking%20Lot!5e0!3m2!1sen!2sbd!4v1577299251173!5m2!1sen!2sbd"
                height="320" style="border:0;" allowfullscreen=""></iframe>
              <div class="icon">
                <i class="fa fa-home"></i>
              </div>
            </div>
          </div>
          <div class="property-contactus">
            <h4>Contact Us</h4>
            <div class="row">
              <div class="col-lg-5">
                <div class="agent-desc">
                  <img src="../../../assets/img/properties/agent-contact.jpg" alt="">
                  <div class="agent-title">
                    <h5>Adam Smith</h5>
                    <span>Saler Marketing</span>
                  </div>
                  <div class="agent-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </div>
                  <p>In today’s net-savvy world it has become common for any business to have a
                    website which they use mostly for advertising their products and services.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 offset-lg-1">
                <form action="#" class="agent-contact-form">
                  <input type="text" placeholder="Name*">
                  <input type="text" placeholder="Email">
                  <textarea placeholder="Messages"></textarea>
                  <button type="submit" class="site-btn">Send Message</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="col-lg-3">-->
<!--        <div class="property-sidebar">-->
<!--          <h4>Search Property</h4>-->
<!--          <form action="#" class="sidebar-search">-->
<!--            <div class="sidebar-btn">-->
<!--              <div class="bt-item">-->
<!--                <input type="radio" name="s-type" id="st-buy" checked>-->
<!--                <label for="st-buy">Buy</label>-->
<!--              </div>-->
<!--              <div class="bt-item">-->
<!--                <input type="radio" name="s-type" id="st-rent">-->
<!--                <label for="st-rent">Rent</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <select>-->
<!--              <option value="">Locations</option>-->
<!--            </select>-->
<!--            <select>-->
<!--              <option value="">Status</option>-->
<!--            </select>-->
<!--            <select>-->
<!--              <option value="">No of Bedroom</option>-->
<!--            </select>-->
<!--            <select>-->
<!--              <option value="">No of Bathrooms</option>-->
<!--            </select>-->
<!--            <select>-->
<!--              <option value="">No of Guest</option>-->
<!--            </select>-->
<!--            <div class="room-size-range">-->
<!--              <div class="price-text">-->
<!--                <label for="roomsizeRangeP">Size:</label>-->
<!--                <input type="text" id="roomsizeRangeP" readonly>-->
<!--              </div>-->
<!--              <div id="roomsize-range-P" class="slider"></div>-->
<!--            </div>-->
<!--            <div class="price-range-wrap">-->
<!--              <div class="price-text">-->
<!--                <label for="priceRangeP">Price:</label>-->
<!--                <input type="text" id="priceRangeP" readonly>-->
<!--              </div>-->
<!--              <div id="price-range-P" class="slider"></div>-->
<!--            </div>-->
<!--            <button type="submit" class="search-btn">Search Property</button>-->
<!--          </form>-->
<!--          <div class="best-agents">-->
<!--            <h4>Best Agents</h4>-->
<!--            <a href="#" class="ba-item">-->
<!--              <div class="ba-pic">-->
<!--                <img src="img/properties/best-agent-1.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="ba-text">-->
<!--                <h5>Lester Bradley</h5>-->
<!--                <span>Company Agents</span>-->
<!--                <p class="property-items">6 property </p>-->
<!--              </div>-->
<!--            </a>-->
<!--            <a href="#" class="ba-item">-->
<!--              <div class="ba-pic">-->
<!--                <img src="img/properties/best-agent-2.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="ba-text">-->
<!--                <h5>Janie Blair</h5>-->
<!--                <span>Company Agents</span>-->
<!--                <p class="property-items">6 property </p>-->
<!--              </div>-->
<!--            </a>-->
<!--            <a href="#" class="ba-item">-->
<!--              <div class="ba-pic">-->
<!--                <img src="img/properties/best-agent-3.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="ba-text">-->
<!--                <h5>Sophia Cole</h5>-->
<!--                <span>Marketing & Ceo</span>-->
<!--                <p class="property-items">6 property </p>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</section>
<!-- Property Details Section End -->


<!-- Partner Carousel Section Begin -->
<div class="partner-section">
  <div class="container">
    <div class="partner-carousel owl-carousel">
      <a href="#" class="partner-logo">
        <div class="partner-logo-tablecell">
          <img src="img/partner/partner-1.png" alt="">
        </div>
      </a>
      <a href="#" class="partner-logo">
        <div class="partner-logo-tablecell">
          <img src="img/partner/partner-2.png" alt="">
        </div>
      </a>
      <a href="#" class="partner-logo">
        <div class="partner-logo-tablecell">
          <img src="img/partner/partner-3.png" alt="">
        </div>
      </a>
      <a href="#" class="partner-logo">
        <div class="partner-logo-tablecell">
          <img src="img/partner/partner-4.png" alt="">
        </div>
      </a>
      <a href="#" class="partner-logo">
        <div class="partner-logo-tablecell">
          <img src="img/partner/partner-5.png" alt="">
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Partner Carousel Section End -->


