<!-- Property Details Section Begin -->
<section class="property-details-section spad">

  <div class="container">
    <div class="card-header" style="background: white">
      <div class="card-tools">
        <button class="btn btn-info" data-target="#create-order" data-toggle="modal"
                type="button" *ngIf="!ishowEditForm">
          Đặt ngay
        </button>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="pd-details-text">
          <div class="property-more-pic">

            <!--            <form [formGroup]="imgForm" (ngSubmit)="submitEditImg()" *ngIf="ishowEditForm">-->
            <div>
              <button class="btn btn-info" style="float: right" (click)="isShowInput()" data-target="#edit-img"
                      data-toggle="modal"
                      type="button">
                Thay ảnh
              </button>
            </div>
            <img src="http://localhost:8080/image/{{houseFE.img}}" alt="" width="1200px" height="700px">
            <br>
            <hr>
            <br>
            <button class="btn btn-info" data-target="#create-image" data-toggle="modal"
                    type="button" *ngIf="ishowEditForm">
              Thêm ảnh homestay
            </button>

            <div class="row">
              <div class="col-lg-3" *ngFor="let image of images" style="margin-top: 50px">
                <div class="single-blog-item" style="background: ghostwhite">
                  <button class="btn btn-primary" style="float: right" (click)="deleteImage(image.id)"
                          type="button" *ngIf="ishowEditForm">
                    <i class="fa fa-trash"></i>
                  </button>
                  <div class="sb-pic">
                    <img src="http://localhost:8080/image/{{image.name}}" height="300">
                  </div>
                  <br>
                </div>
              </div>
            </div>

          </div>
          <hr>
          <div class="pd-details-tab">
            <div class="tab-item">
              <ul class="nav" role="tablist">
                <li>
                  <a class="active" data-toggle="tab" href="#tab-1" role="tab">Thông tin cơ bản</a>
                </li>
                <li>
                  <a data-toggle="tab" href="#tab-2" role="tab">Mô tả</a>
                </li>

              </ul>
            </div>
            <div class="tab-item-content">
              <div class="tab-content">
                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                  <div class="property-more-table">
                    <table class="table">
                      <tbody>
                      <tr>
                        <td class="pt-name">Tên</td>
                        <td class="p-value">{{houseFE.name}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Thành phố</td>
                        <td class="p-value">{{houseFE.city.name}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Địa chỉ</td>
                        <td class="p-value">{{houseFE.location}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Giá</td>
                        <td class="p-value">{{houseFE.price | number}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Diện tích</td>
                        <td class="p-value">{{houseFE.area}} m2</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Loại phòng</td>
                        <td class="p-value">{{houseFE.type.name}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Số phòng tắm</td>
                        <td class="p-value">{{houseFE.bathroom}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Số phòng ngủ</td>
                        <td class="p-value">{{houseFE.bedroom}}</td>
                      </tr>
                      <tr>
                        <td class="pt-name">Agent</td>
                        <td class="p-value">{{houseFE.user.username}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                  <div class="pd-table-desc">
                    <p>{{houseFE.description}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="comment-option">
          <h4>2 Comments</h4>
          <div class="single-comment-item first-comment">
            <div class="sc-author">
              <img src="../../../assets/img/blog/comment/comment-1.jpg" alt="">
            </div>
            <div class="sc-text">
              <span>27 Aug 2019</span>
              <h5>Brandon Kelley</h5>
              <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                magnam.</p>
              <a href="#" class="comment-btn">Like</a>
              <a href="#" class="comment-btn">Reply</a>
            </div>
          </div>
          <div class="single-comment-item second-comment ">
            <div class="sc-author">
              <img src="../../../assets/img/blog/comment/comment-3.jpg" alt="">
            </div>
            <div class="sc-text">
              <span>27 Aug 2019</span>
              <h5>Mike Phillips</h5>
              <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                magnam.</p>
              <a href="#" class="comment-btn">Like</a>
              <a href="#" class="comment-btn">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="leave-comment">
          <h4>Leave A Comment</h4>
          <form action="#">
            <textarea placeholder="Messages"></textarea>
            <button type="submit" class="site-btn">Send Message</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Property Details Section End -->


<div class="modal fade" id="create-order">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Đặt homstay</b></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="orderForm" (ngSubmit)="submitCreateOrder()">
        <div class="modal-body">

          <div class="form-group">
            <span class="form-label"><b>Check In</b></span>
            <input class="form-control" id="check-in" type="date" formControlName="checkIn">
          </div>
          <div class="form-group">
            <span class="form-label"><b>Check out</b></span>
            <input class="form-control" id="check-out" type="date" formControlName="checkOut">
          </div>


        </div>
        <div class="modal-footer justify-content-between">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
          <button class="btn btn-info" type="submit">Đặt ngay
          </button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="edit-img">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Thay ảnh đại diện homestay</b></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="imgForm" (ngSubmit)="submitEditImg()">
        <div class="modal-body">

          <label for="img" class="form-label">Ảnh homstay:</label>
          <input class="form-control" type="file" multiple id="img" formControlName="img"
                 (change)="changeImg($event)">
          <p>
            <img src="{{filePath}}" alt="" width="1200px" height="700px" *ngIf="filePath">
          </p>

        </div>
        <div class="modal-footer justify-content-between">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
          <button class="btn btn-info" type="submit">lưu
          </button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="create-image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Thêm ảnh homestay</b></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="imageForm" (ngSubmit)="submitCreateImage()">
        <div class="modal-body">

          <label for="images" class="form-label">Ảnh homstay:</label>
          <input class="form-control" type="file" multiple id="images" formControlName="images"
                 (change)="changeFileImage($event)">
        </div>
        <div class="modal-footer justify-content-between">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
          <button class="btn btn-info" type="submit">Thêm ảnh
          </button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
