<h3>Cập nhật homestay</h3>
<form [formGroup]="houseForm" (ngSubmit)="submit()">
  <div class="form-control">
    <label for="name">Tên:</label>
    <input type="text" id="name" formControlName="name" placeholder="tên" value="{{house.name}}">
  </div>
  <div class="form-control">
    <label for="img">Ảnh:</label>
    <input type="file" id="img" formControlName="img" [value]="house.img">
  </div>
  <div  class="form-control">
    <label for="area">Diện tích:</label>
    <input type="text" id="area" formControlName="area" [value]="house.area">
  </div>
  <div  class="form-control">
    <label for="location">Địa Chỉ:</label>
    <input type="text" id="location" placeholder="địa chỉ" [value]="house.location">
  </div>
  <div  class="form-control">
    <label for="type">Loại phòng:</label>
    <select formControlName="type">
      <option disabled [ngValue]="undefined">Chọn loại phòng</option>
      <option id="type" [value]="house.type.id" *ngFor="let type of types">{{type.name}}</option>
    </select>
  </div>
  <div  class="form-control">
    <label for="bedroom">Số phòng ngủ:</label>
    <input type="number" id="bedroom" formControlName="bedroom" placeholder="số phòng ngủ" [value]="house.bedroom">
  </div>
  <div  class="form-control">
    <label for="bathroom">Số phòng tắm:</label>
    <input type="number" id="bathroom" formControlName="bathroom" placeholder="số phòng tắm" [value]="house.bathroom">
  </div>
  <div  class="form-control">
    <label for="price">Giá phòng / đêm:</label>
    <input type="number" id="price" formControlName="price" value="{{house.price}}">
  </div>
  <div class="form-control">
    <label for="description">Mô tả:</label>
    <input id="description" formControlName="description" value="{{house.description}}">
  </div>
  <div class="form-control">
    <label for="count_rent">Lượt thuê:</label>
    <input type="number" id="count_rent" formControlName="count_rent" value="{{house.count_rent}}">
  </div>
  <div class="form-control">
    <label for="statusHouse">Trạng thái:</label>
    <select formControlName="statusHouse">
      <option id="statusHouse" [value]="statusHouse.id" *ngFor="let statusHouse of statusHouses">{{statusHouse.name}}</option>
    </select>
  </div>
  <button>Submit</button>
</form>
