<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-tools">
              <button class="btn btn-info" data-target="#create-image" data-toggle="modal"
                      type="button">
                Thêm mới
              </button>
            </div>
          </div>
          <div class="card-body row" *ngFor="let image of images" >
            <div class="card col-3" style="width: 18rem">
              <img src="http://localhost:8080/image/{{image.name}}" class="card-img-top" height="250px">
              <div class="card-body">
                <button class="btn btn-danger" (click)="deleteImage(image.id)"><i
                  class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="create-image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Đặt homstay</b></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="imageForm" (ngSubmit)="submitCreateImage()">
        <div class="modal-body">

            <label for="images" class="form-label">Ảnh homstay:</label>
            <input class="form-control" type="file" multiple id="images" formControlName="images"
                   (change)="changeFile($event)">
        </div>
        <div class="modal-footer justify-content-between">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
          <button class="btn btn-info" type="submit">Thêm ảnh
          </button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

