<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Quản lý Homestay</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-tools">
              <button class="btn btn-info" data-target="#create-house" data-toggle="modal"
                      type="button" (click)="resetFormData()">
                Thêm mới
              </button>
            </div>
          </div>
          <div class="card-body">
            <table id="table-house" class="table table-bordered table-hover">
              <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Ảnh</th>
                <th>Diện tích</th>
                <th>Thành phố</th>
                <th>Loại phòng</th>
                <th>Số phòng ngủ</th>
                <th>Số phòng tắm</th>
                <th>Giá phòng/ đêm</th>
                <th>Lượt thuê</th>
                <th>Trạng thái</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let house of houses; index as i">
                <td>{{i + 1}}</td>
                <td>
                  <div>{{house.name}}</div>
                  <div><a routerLink="/admin/houses/orders/{{house.id}}">Xem lịch đặt nhà</a></div>
                </td>
                <td style="width: 250px"><a routerLink="/admin/houses/images/{{house.id}}"><img
                  src="http://localhost:8080/image/{{house.img}}" width="250" height="200"></a></td>
                <td>{{house.area}}</td>
                <td>{{house.city.name}}</td>
                <td>{{house.type.name}}</td>
                <td>{{house.bedroom}}</td>
                <td>{{house.bathroom}}</td>
                <td>{{house.price | number}}</td>
                <td>{{house.count_rent}}</td>
                <td>{{house.statusHouse.name}}</td>
                <td class="text-center">
                  <a class="btn btn-info" data-target="#create-house" data-toggle="modal"
                     (click)="getHouseById(house.id)">
                    <i class="fa fa-edit"></i>
                  </a>
                </td>
                <td class="text-center">
                  <a class="btn btn-danger" (click)="delete(house.id)">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<div class="modal fade" id="create-house">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Homestay</b></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="houseForm" (ngSubmit)="createHouse()" class="mb-3">
          <div>
            <label for="name" class="form-label">Tên:</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nhập tên Homestay">
          </div>

          <div>
            <label for="img" class="form-label">Ảnh:</label>
            <div *ngIf="!showUploadListImage">
              <img src="http://localhost:8080/image/{{houseEdit.img}}" width="465px" height="300px">
            </div>
            <input class="form-control" type="file" id="img" formControlName="img">
          </div>
          <div *ngIf="showUploadListImage">
            <label for="images" class="form-label">Ảnh homstay:</label>
            <input class="form-control" type="file" multiple id="images" formControlName="images"
                   (change)="changeFile($event)">
          </div>
          <div>
            <label for="area" class="form-label">Diện tích:</label>
            <input class="form-control" type="text" id="area" formControlName="area"
                   placeholder="Nhập diện tích Homestay">
          </div>

          <div>
            <label for="city" class="form-label">Thành phố:</label>
            <select formControlName="city" class="form-control" id="city">
              <option [ngValue]=null *ngIf="showUploadListImage">Chọn thành phố</option>
              <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
            </select>
          </div>
          <div>
            <label for="location" class="form-label">Địa Chỉ:</label>
            <input class="form-control" type="text" id="location" placeholder="Nhập địa chỉ" formControlName="location">
          </div>
          <div>
            <label for="type" class="form-label">Loại phòng:</label>
            <select formControlName="type" class="form-control" id="type">
              <option [ngValue]=null *ngIf="showUploadListImage">Chọn loại phòng</option>
              <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
            </select>
          </div>
          <div>
            <label for="bedroom" class="form-label">Số phòng ngủ:</label>
            <input class="form-control" type="number" id="bedroom" formControlName="bedroom"
                   placeholder="Nhập số phòng ngủ">
          </div>
          <div>
            <label for="bathroom" class="form-label">Số phòng tắm:</label>
            <input class="form-control" type="number" id="bathroom" formControlName="bathroom"
                   placeholder="Nhâp số phòng tắm">
          </div>
          <div>
            <label for="price">Giá phòng / đêm:</label>
            <input class="form-control" type="number" id="price" formControlName="price" placeholder="Nhập giá phòng">
          </div>
          <div>
            <label for="description" class="form-label">Mô tả:</label>
            <input class="form-control" type="text" id="description" formControlName="description"
                   placeholder="Nhập mô tả">
          </div>
          <div>
            <label for="statusHouse" class="form-label">Trạng thái:</label>
            <select formControlName="statusHouse" class="form-control" id="statusHouse">
              <option [ngValue]=null *ngIf="showUploadListImage">Chọn trạng thái</option>
              <option *ngFor="let statusHouse of statusHouses" [value]="statusHouse.id">{{statusHouse.name}}</option>
            </select>
          </div>
          <div class="modal-footer justify-content-between">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
            <button class="btn btn-info" type="submit">Lưu
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
