
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>List Books</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active">Danh sách</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-tools">
              <a routerLink="/books/create" class="btn btn-primary">Thêm mới</a>
            </div>
          </div>
          <div class="card-body">

            <table id="books-list" class="table table-bordered table-hover">
              <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Tên sách</th>
                <th>Tác giả</th>
                <th>Mô tả sách</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
<!--              <tbody>-->
<!--              <tr *ngFor="let book of books; index as i">-->
<!--                <td>{{i + 1}}</td>-->
<!--                <td><a routerLink="/books/{{book.id}}">{{book.title}}</a></td>-->
<!--                <td>{{book.author}}</td>-->
<!--                <td>{{book.description}}</td>-->
<!--                <td class="text-center">-->
<!--                  <a class="btn btn-info" routerLink="/books/edit/{{book.id}}">-->
<!--                    <i class="fa fa-edit"></i>-->
<!--                  </a>-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                  <a class="btn btn-danger" (click)="delete(book.id)">-->
<!--                    <i class="fa fa-trash"></i>-->
<!--                  </a>-->
<!--                </td>-->
<!--              </tr>-->
<!--              </tbody>-->
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

