<!-- Ramdom -->
<section class="blog-section latest-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Danh sách ảnh homestay</h2>
        </div>
      </div>
    </div>
    <div style="text-align: right">
      <div class="card-tools">
          <button class="btn btn-info" style="width: 150px; height: 50px" data-target="#create-image" data-toggle="modal">Tạo mới</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4" *ngFor="let image of images" style="margin-top: 50px">
        <div class="single-blog-item" style="background: ghostwhite">
          <div class="sb-pic">
            <img src="http://localhost:8080/image/{{image.name}}" height="300">
          </div>
          <br>
          <button class="btn btn-primary" style="width: 130px" (click)="deleteImage(image.id)">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="create-image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Thêm ảnh sản phẩm</b></h4>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="imageForm" (ngSubmit)="submitCreateImage()">
        <div class="modal-body">

          <label for="images" class="form-label">Ảnh homstay:</label>
          <input class="form-control" type="file" multiple id="images" formControlName="images"
                 (change)="changeFile($event)">
        </div>
        <div class="modal-footer justify-content-between">
          <button class="btn btn-secondary" data-dismiss="modal" type="button">Quay lại</button>
          <button class="btn btn-info" type="submit">Thêm ảnh
          </button>
        </div>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

